*
{
  margin: 0;
  padding: 0;
  background-color: black;
}

header
{

}

.main-nav
{
  float: left;
  list-style: none;
  margin-top: 30px;
}

.main-nav li
{
  display: inline-block;
}

.main-nav li a
{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: sans-serif;
  font-size: 25px;
}

.main-nav li a:hover
{
    border: 1px solid white;
}
